server {

listen 80;

listen [::]:80;

server_name {{ domain }} www.{{ domain }};

root /var/www/peterhalligan.com/;


index index.html;

location / {

try_files $uri $uri/ /index.html;

}
location ~ \.css {
    add_header  Content-Type    text/css;
}
location ~ \.js {
    add_header  Content-Type    application/x-javascript;
}

location ~* \.(js|css|png|jpg|jpeg|gif|ico|html)$ {
                expires max;
        }
}
